/***********************
Custom Font
***********************/
@font-face {
    font-family: 'PressStart2';
    src: url(./fonts/PressStart2P-vaV7.ttf);
    font-weight: normal;
    font-style: normal;
}

/***********************
Base styles
***********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/bg2.png);
    background-size: contain;
    font-family: 'PressStart2';
    color: white;
}

main {
    height: 94vh;
}

.container {
    max-width: 1140px;
    margin: auto;
}

/***********************
Main Game 
***********************/

/* Game Title and Introduction*/
.intro {
    padding-top: 3rem;
    margin-bottom: 6rem;
    text-align: center;
}


.intro > h1 {
    margin-bottom: 2rem;
}

/* Rounds Title */
#rounds {
    text-align: center;
}

/* Score Container */
.score {
    width: max-content;
    display: flex;
    gap: 20px;
    margin: auto;
    margin-bottom: 5rem;
}

/* Gameboard */
.mainGame {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

/* Game Cards/Buttons */
.btn,
.computer {
    background-color: white;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.5) inset;
    transition: 0.3s ease;
}

/* Styles for the Buttons depending on the action and the outcome */
.btn.playerBtn:hover {
    cursor: pointer;
    box-shadow: none;
    background: #f5c71a;
}

.btn.playerBtn.tie {
    box-shadow: none;
    background: #f5c71a;
}

.btn.playerBtn.success {
    box-shadow: none;
    background: green;
}

.btn.playerBtn.defeat {
    box-shadow: none;
    background: red;
}

.feedback {
    margin-bottom: 1rem;
}

/* Restart Button */
#restart {
    font-family: 'PressStart2';
    font-size: 1rem;
    padding: .75rem .75rem;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.5) inset;
    transition: 0.3s ease;
    cursor: pointer;
    display: none;
}

#restart:hover {
    transform: scale(1.25);
}

/* Footer styling */
footer {
    height: 6vh;
    padding: 0.5rem;
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
}
